# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/
Lib/
Scripts/
pyvenv.cfg
Include/

# IDE
.vs/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
*.mp4
*.avi
*.mov
data/
img/
download_from_kaggle.py
integrate_images.py
resize_images.py
split_images.py
test.py
car-segmentation.v1i.coco-segmentation/
data/
differences/
lightning_logs/
convert_coco_to_masks.py
convert_images_to_png.py
plot_manual_metrics.py